___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sf = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sf.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [10]:
sf['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [15]:
sf['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [21]:
sf[sf['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [25]:
sf[sf['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'] 
#24 270324.91

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [54]:

sf[sf['TotalPayBenefits'] == 567595.43]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [55]:
sf['TotalPayBenefits'].max()

567595.43

In [66]:
sf[sf['TotalPayBenefits'] == sf['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [56]:
sf['TotalPayBenefits'].min()

-618.13

In [57]:
sf[sf['TotalPayBenefits'] == -618.13]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [75]:
sf.groupby(['Year'])['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [80]:
len(sf['JobTitle'].unique())

2159

** What are the top 5 most common jobs? **

In [94]:
sf['JobTitle'].value_counts(ascending = False)[0:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [153]:
sum(sf[sf['Year'] == 2013]['JobTitle'].value_counts() ==1)
#sum(dataframe(dataframe[column == value of year and then jobtitle valuecounts == 1))

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [148]:
title = sf.groupby(['JobTitle']).sum()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
JobTitle,,,,,,,,,,
ACCOUNT CLERK,2135990,3593966.94,30975.67,30017.53,0.00,3654960.14,3654960.14,166913,0.0,0.0
ACCOUNTANT,120796,233215.86,0.00,3930.48,0.00,237146.34,237146.34,10055,0.0,0.0
ACCOUNTANT INTERN,1350184,1379167.87,1172.67,13183.12,0.00,1393523.66,1393523.66,96528,0.0,0.0
"ACPO,JuvP, Juv Prob (SFERS)",135284,62290.78,0.00,0.00,17975.59,62290.78,80266.37,2014,0.0,0.0
ACUPUNCTURIST,18379,66374.40,0.00,1220.00,0.00,67594.40,67594.40,2011,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
X-RAY LABORATORY AIDE,585054,1239284.10,92851.81,38216.98,0.00,1370352.89,1370352.89,52286,0.0,0.0
X-Ray Laboratory Aide,9889062,4608638.71,348376.71,125378.85,1869718.05,5082394.27,6952112.32,201304,0.0,0.0
"YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS",23392,52609.91,0.00,1022.96,0.00,53632.87,53632.87,2011,0.0,0.0
Youth Comm Advisor,398711,156311.83,0.00,9345.40,74816.97,165657.23,240474.20,8052,0.0,0.0
ZOO CURATOR,18779,43148.00,0.00,23538.56,0.00,66686.56,66686.56,2011,0.0,0.0

In [157]:
#477
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [158]:
sum(sf['JobTitle'].apply(lambda x: chief_string(x)))

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
#There is no correlation between the title string and salary as the data 
#shows the correlation value is -0.03 and
#we would need .8 or above to show it is positively correlated

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!