In [6]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import seaborn as sns

df = pd.read_csv('data.csv')
df.head()

   Age  All_Devs  Python  JavaScript
0   18     17784   20046       16446
1   19     16500   17100       16791
2   20     18012   20000       18942
3   21     20628   24744       21780
4   22     25206   30500       25704

In [4]:
fig1, ax1 = plt.subplot[2,1], figsize (10,6)

TypeError: 'function' object is not subscriptable