In [65]:
# import libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [66]:
# set your column as the dataframe index
df = pd.read_csv('holdout_data.csv', index_col = 0)

In [67]:
#df = df.drop('ID', axis = 0)

In [68]:
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
5501,180000,2,2,1,44,0,0,0,0,0,...,170788,174764,162667,166953,10000,8000,7000,6000,7000,10000
28857,130000,2,2,1,48,-2,-2,-2,-2,-2,...,1487,1279,749,440,1240,1487,1279,749,440,849
11272,60000,2,1,1,43,-1,3,2,0,0,...,495,330,165,340,0,330,0,0,340,0
8206,240000,1,1,1,42,0,0,0,0,0,...,91027,51508,51127,0,20000,2213,1030,1023,6790,10893
6362,100000,2,2,1,28,2,0,0,0,0,...,70844,63924,57326,59654,3500,3003,1910,2400,3300,0

In [69]:
# Split data to be used in the models
# Create matrix of features
#X = df.drop('Y', axis = 1) # grabs everything else but 'Survived'
# Create target variable
#y = df['Y'] # y is the column we're trying to predict

In [70]:
cols = ['X5', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23']
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [71]:
cols = ['X1', 'X2', 'X3', 'X4', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11']

In [72]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [73]:
#df['Y'] = df['Y'].apply(pd.to_numeric, errors='coerce')

In [74]:
#make more readable
df.columns = ['credit', 'gender', 'education', 'marital_status', 'age', 'sept_status', 'aug_status', 'jul_status', 'jun_status', 'may_status', 'apr_status', 
              'sept_bill', 'aug_bill', 'jul_bill', 'jun_bill', 'may_bill', 'apr_bill',
              'sept_pay', 'aug_pay', 'jul_pay', 'jun_pay', 'may_pay', 'apr_pay']

In [75]:
df.isna().sum()

credit            0
gender            0
education         0
marital_status    0
age               0
sept_status       0
aug_status        0
jul_status        0
jun_status        0
may_status        0
apr_status        0
sept_bill         0
aug_bill          0
jul_bill          0
jun_bill          0
may_bill          0
apr_bill          0
sept_pay          0
aug_pay           0
jul_pay           0
jun_pay           0
may_pay           0
apr_pay           0
dtype: int64

In [101]:
#Never defaulted make column with 1 or 0 
df['status_past_3'] = (df['sept_status']**2 +df['aug_status']+df['jul_status'])

In [102]:
df['education']=np.where(df['education'] == 5, 4, df['education'])
df['education']=np.where(df['education'] == 6, 4, df['education'])
df['education']=np.where(df['education'] == 0, 4, df['education'])
df['marital_status']=np.where(df['marital_status'] == 0, 3, df['marital_status'])

In [103]:
X = scaler.transform(df)

In [104]:
dkModel.predict(X)

array([0, 0, 1, ..., 0, 0, 0])

In [105]:
submission = dkModel.predict(X)

In [106]:
submissiondf = pd.DataFrame()

In [107]:
#submissiondf['ID'] = df.index

In [108]:
submissiondf['Default'] = submission

In [109]:
submissiondf.to_csv('holdout_predictions_DS.csv')

In [110]:
submissiondf

      Default
0           0
1           0
2           1
3           0
4           0
...       ...
7496        0
7497        0
7498        0
7499        0
7500        0

[7501 rows x 1 columns]

In [111]:
submission2 = dk47.predict(X)

In [112]:
submission2_df = pd.DataFrame()

In [113]:
submission2_df['Default'] = submission2

In [114]:
submission2_df.to_csv('DS_bakeoff_rfc.csv')

In [115]:
import pickle 

filename = 'dk_bakeoff.sav'
filename2 = 'dk_rfc47.sav'
dkModel = pickle.load(open(filename, 'rb'))
dk47 = pickle.load(open(filename2, 'rb'))
scaler = pickle.load(open('scaler.sav', 'rb'))

In [116]:
dkModel.predict

<bound method VotingClassifier.predict of VotingClassifier(estimators=[('decisiontree35',
                              RandomForestClassifier(class_weight='balanced',
                                                     criterion='entropy',
                                                     max_depth=1,
                                                     max_features=0.33194911328577587,
                                                     n_estimators=718,
                                                     random_state=1)),
                             ('decisiontree47',
                              RandomForestClassifier(class_weight='balanced',
                                                     max_depth=1,
                                                     max_features=0.3352671283390045,
                                                     n_estimators=301,
                                                     random_state=1)),
                             ('decisiontree61',
                              RandomForestClassifier(class_weight='balanced',
                                                     criterion='entropy',
                                                     max_depth=1,
                                                     max_features=0.3052949970843152,
                                                     n_estimators=702,
                                                     random_state=1))])>

In [117]:
scaler

StandardScaler()